target/
bin/
classes/
/.classpath
/.project
/.settings
/.git
/agile_apex.log
/agile_apex.log
.1/agile_apex.log
.2
/release.properties
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.next
/agile_apex_unit_tests.log
/error-screenshots
/reference-screenshots
