<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS/zzz} [%-5p] %t %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${catalina.base}/logs/agile_apex.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<param name="bufferedIO" value="false" />
		<param name="BufferSize" value="256" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS/zzz} [%-5p] %t %c %x - %m%n" />
		</layout>
	</appender>

	<logger name="com.agileapex">
		<level value="debug" />
	</logger>
	
	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="warn" />
	</logger>
	
	<root>
		<priority value="debug"></priority>
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>